<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Summit CDN</title>
    <link rel="stylesheet" href="/md/md.css"/>
    <style>
      * {
        outline: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Success!</h1>
      <p>Your request was sent to mr hesby and alex</p>
    </div>
  </body>
</html>
