<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Summit CDN</title>
    <link rel="stylesheet" href="/md/md.css"/>
    <link rel="stylesheet" href="/hl/github.css">
    <style>
      * {
        outline: none;
      }

      .tag {
        color: #FF4081;
      }

      .main-item {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Summit CDN</h1>
      <p>Summit Computer Science CDN (Content Delivery Network).</p>
      <p>This server is powered by <a href="http://sinatrarb.com">sinatra</a>
        with <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a>
        enabled so you can use it for link and script tags</p>

      <h4>List of frameworks provided</h4>
      <ul>
        <li class="main-item"><a href="#skeleton">Skeleton</a> <span class="tag panel">CSS</span></li>
        <li class="main-item"><a href="#bootstrap">Bootstrap</a> <span class="tag">CSS</span> <span class="tag">JS</span></li>
        <li class="main-item"><a href="#materialize">Materialize</a> <span class="tag">CSS</span> <span class="tag">JS</span></li>
        <li class="main-item"><a href="#jquery">jQuery</a> <span class="tag">JS</span></li>
        <li class="main-item"><a href="#hljs">Highlight JS</a> <span class="tag">JS</span></li>
        <li class="main-item"><a href="#polymer">Polymer</a> <span class="tag">HTML</span> <span class="tag">JS</span></li>
        <li class="main-item"><a href="#photoswipe">Photoswipe</a> <span class="tag">JS</span></li>
        <li class="main-item"><a href="#fontawesome">Font awesome</a> <span class="tag">CSS</span></li>
      </ul>

      <h3 id="skeleton"><a href="http://getskeleton.com">Skeleton</a></h3>
      <a href="http://getskeleton.com/#intro" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>Skeleton is a great css framework if you are just starting to use css fameworks. It has a lot of the basics that are included in every framework.</p>
      <ul>
        <li><a href="/sk.css">v2.0 CSS</a> 11.0 KB</li>
      </ul>
      <pre><code>
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/sk.css"&gt;
      </code></pre>

      <h3 id="bootstrap"><a href="http://getbootstrap.com">Bootstrap</a></h3>
      <a href="http://getbootstrap.com/css/" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>Bootstrap is a frontend framework that is very popular for things like its
        <a href="http://getbootstrap.com/css/#grid">grid system</a> which helps you
        layout your webpage.</p>
      <ul>
        <li><a href="/bs/bs.css">v3.3.1 CSS</a> 21.2 KB</li>
        <li><a href="/bs/bs.js">v3.3.1 JS</a> 65.9 KB</li>
        <li><a href="/bs/theme.css">v3.3.1 Theme</a> 22.3 KB</li>
        <li><a href="/bs/bs.css?v=2.3">v2.3.2 CSS</a> 125 KB</li>
        <li><a href="/bs/bs.js?v=2.3">v2.3.2 JS</a> 60.8 KB</li>
      </ul>
      <pre><code>
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/bs/bs.css"&gt; &lt;!-- For v3.3.1 --&gt;
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/bs/theme.css"&gt; &lt;!-- For v3.3.1 --&gt;
  &lt;script src="//cdn.smtcs.rocks/bs/bs.js"&gt;&lt;/script&gt; &lt;!-- For v3.3.1 --&gt;

  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/bs/bs.css?v=2.3"&gt; &lt;!-- For v2.3.2 --&gt;
  &lt;script src="//cdn.smtcs.rocks/bs/bs.js?v=2.3"&gt;&lt;/script&gt; &lt;!-- For v2.3.2 --&gt;
      </code></pre>

      <h3 id="materialize"><a href="http://materializecss.com/">Materialize</a></h3>
      <a href="http://materializecss.com/components.html" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>Materialize is a front end framework just like Bootstrap that follows the google's material design principals.</p>
      <ul>
        <li><a href="/md/md.css">v0.91 CSS</a> 146 KB</li>
        <li><a href="/md/md.js">v0.91 JS</a> 240 KB</li>
      </ul>
      <pre><code>
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/md/md.css"&gt;
  &lt;script src="//cdn.smtcs.rocks/md/md.js"&gt;&lt;/script&gt;
      </code></pre>

      <h3 id="jquery"><a href="http://jquery.com/">jQuery</a></h3>
      <a href="https://api.jquery.com/" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>jQuery is a javascript framework that strives to be albe to use one function for all the browser APIs.</p>
      <ul>
        <li><a href="/jq/2.js">v2.1.1 JS</a> 242 KB</li>
        <li><a href="/jq/1.js">v1.11.1 JS</a> 276 KB</li>
      </ul>
      <pre><code>
  &lt;script src="//cdn.smtcs.rocks/jq/2.js"&gt;&lt;/script&gt; &lt;!-- For v2.1.1 --&gt;
  &lt;script src="//cdn.smtcs.rocks/jq/1.js"&gt;&lt;/script&gt; &lt;!-- For v1.11.1 --&gt;
      </code></pre>

      <h3 id="hljs"><a href="https://highlightjs.org/">Highlight JS</a></h3>
      <a href="https://highlightjs.org/usage/" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>Highlight.js is a javascript library that allows you to highlight code on webpages, such as this one.</p>
      <ul>
        <li><a href="/hl/hl.js">v8.4 JS</a> 67.6 KB</li>
        <li><a href="https://highlightjs.org/static/demo/">many styles</a></li>
      </ul>
      <pre><code>
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/hl/default.css"&gt;
  &lt;!-- You can replace default with any of the styles from the list --&gt;
  &lt;script src="//cdn.smtcs.rocks/hl/hl.js"&gt;&lt;/script&gt;
  &lt;script&gt;hljs.initHighlightingOnLoad();&lt;/script&gt;
      </code></pre>

      <h3 id="polymer"><a href="https://polymer-project.org">Polymer</a></h3>
      <a href="https://www.polymer-project.org/docs/start/creatingelements.html" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <a href="https://www.polymer-project.org/docs/elements/" class="waves-effect waves-light btn-large"><i class="mdi-action-polymer left"></i>Elements</a>
      <p>Polymer is this new thing that allows you to use these things called web components which allow you to create your own html elements with js to back them up.</p>
      <ul>
        <li><a href="/pl/pl.html">v0.5.1 HTML</a> 82.2 KB</li>
        <li><a href="/pl/wc.js">v0.5.1 Webcomponents.js</a> 42.6 KB</li>
      </ul>
      <pre><code>
  &lt;link rel="import" href="//cdn.smtcs.rocks/pl/pl.html"&gt;
  &lt;script src="//cdn.smtcs.rocks/pl/wc.js"&gt;&lt;/script&gt; &lt;!-- Compatability with Older browsers --&gt;

  &lt;link rel="import" href="//cdn.smtcs.rocks/pl/paper-button/paper-button.html"&gt;
  &lt;!-- Replace paper-button with any polymer element in the docs, link above--&gt;
      </code></pre>

      <h3 id="photoswipe"><a href="http://photoswipe.com/">PhotoSwipe</a></h3>
      <a href="http://photoswipe.com/documentation/options.html" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>Photoswipe is a javascript library that allows you for a super lightweight lightbox that has no dependencies.</p>
      <ul>
        <li><a href="/ps/ps.css">v4.0.0 CSS</a> 2.9 KB</li>
        <li><a href="/ps/ps.js">v4.0.0 JS</a> 85.5 KB</li>
        <li><a href="/ps/ps-ui.js">v4.0.0 UI JS</a> 19.0 KB</li>
        <li><a href="/ps/skin/skin.css">v4.0.0 Default CSS</a> 10.1 KB</li>
      </ul>
      <pre><code>
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/ps/ps.css"&gt;
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/ps/skin/skin.css"&gt; &lt;!-- optional --&gt;

  &lt;script src="//cdn.smtcs.rocks/ps/ps.js"&gt;&lt;/script&gt;
  &lt;script src="//cdn.smtcs.rocks/ps/ps-ui.js"&gt;&lt;/script&gt;
      </code></pre>

      <h3 id="fontawesome"><a href="http://fontawesome.io/">Font Awesome</a></h3>
      <a href="http://fontawesome.io/examples/" class="waves-effect waves-light btn-large"><i class="mdi-action-subject left"></i>Documentation</a>
      <p>Font awesome is an awesome css icon set that is free for you to use.</p>
      <ul>
        <li><a href="/fa/fa.css">v4.2.0 CSS</a> 26.3 KB</li>
      </ul>
      <pre><code>
  &lt;link rel="stylesheet" href="//cdn.smtcs.rocks/fa/fa.css"&gt;
      </code></pre>


      <h3>Framework Request</h3>
      <p>If you need to request any new framework please just hop into the
        <a href="https://kiwiirc.com/client/irc.freenode.com/?nick=framework-request|?#summitcs">#summitcs</a>
         irc channel </p>
    </div>
    <script src="/jq/2.js"></script>
    <script src="/md/md.js"></script>
    <script src="/hl/hl.js"></script>
    <script>
      $(document).ready(function() {
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      });
    </script>
  </body>
</html>
