<!DOCTYPE html>
<html>
  <head>
    <script src="doc.min.js"></script>
    <script>
      DocumentUp.document({
        repo: 'smtcs/cdn',
        name: 'CDN',
        theme: 'v1'
      });
    </script>
  </head>
  <body>
  </body>
</html>
