<!DOCTYPE html>
<html>
  <head>
    <script src="documentup.min.js"></script>
    <script>
      DocumentUp.document({
        repo:  "smtcs/cdn",
        name: "Summit CDN",
        google_analytics: "UA-44161537-6"
      });
    </script>
  </head>
  <body></body>
</html>
